.homeSlider {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px 15px 25px 15px;
  border: none;
}

.card.standard-card {
  height: 250px; /* Increase height to accommodate the body */
  width: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column; /* Allows the body to take space below the image */
}

.card-img-top {
  height: 150px; /* Set a fixed height for the image */
  width: 100%;
  object-fit: contain;
}

.card-body {
  flex-grow: 1; /* Allows the body to take up remaining space */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Space between title, stars, price, and icons */
}

.card {
  transition: transform 0.3s ease;
}

.standard-card .card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 5px;
  font-size: 13px;
  background-color: white;
  color: #0dd6b8;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.standard-card:hover .card-btn {
  opacity: 1;
}

.stars {
  font-size: 13px;
  color: #ffc107;
  margin: 10px 0;
}

.icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.icons .fa-shop {
  font-size: 20px;
  color: #0dd6b8;
  transition: color 0.3s ease;
}

.icons .fa-heart {
  font-size: 20px;
  color: #ff9b8a;
  transition: color 0.3s ease;
}
