.profile-option {
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.profile-option:last-child {
  border-bottom: none;
}

.profile-option .profile-option-icon {
  width: 45px;
  height: 45px;
  line-height: 40px;
  font-size: 25px;
  color: #0dd6b8;
}

.profile-option h6.mb-0 {
  margin: 0;
  font-size: 17px;
  letter-spacing: 1px;
  color: #11141b;
}

.profile-option p.mb-0 {
  margin: 0;
  font-size: 13px;
  color: #777d74;
}

.btn-signOut {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0dd6b8;
  border: 1px solid #0dd6b8;
  border-radius: 5px;
  padding: 6px 16px;
  transition: 0.3s;
}

.btn-signOut:hover {
  color: #ffffff;
  background-color: #0aab93;
  border: 1px solid #0aab93;
}

@media (max-width: 1024px) {
  .profile-option {
    padding: 8px 0;
  }

  .profile-option .profile-option-icon {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }

  .profile-option h6.mb-0 {
    font-size: 16px;
  }

  .profile-option p.mb-0 {
    font-size: 12px;
  }

  .btn-signOut {
    font-size: 14px;
    padding: 5px 14px;
  }
}

@media (max-width: 768px) {
  .profile-option {
    padding: 6px 0;
  }

  .profile-option .profile-option-icon {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }

  .profile-option h6.mb-0 {
    font-size: 15px;
  }

  .profile-option p.mb-0 {
    font-size: 11px;
  }

  .btn-signOut {
    font-size: 13px;
    padding: 5px 12px;
  }
}

@media (max-width: 425px) {
  .profile-option {
    padding: 5px 0;
  }

  .profile-option .profile-option-icon {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .profile-option h6.mb-0 {
    font-size: 14px;
  }

  .profile-option p.mb-0 {
    font-size: 10px;
  }

  .btn-signOut {
    font-size: 12px;
    padding: 4px 10px;
  }

  div.fade.modal-backdrop.show {
    opacity: 0;
   }
}
