.categoryCardOne {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px 15px 25px 15px;
  border: none;
}

.categoryCardOne .left-text h4 {
  font-size: 22.4px;
  font-weight: bold;
  color: #11141b;
}

.categoryCardOne .right-text button.btn {
  border: none;
  color: #ffffff;
  background-color: #3aafa9;
}

@media (max-width: 425px) {
  .categoryCardOne .left-text h4 {
    font-size: 17.4px;
    font-weight: bold;
    color: #11141b;
  }

  .categoryCardOne .right-text button.btn {
    border: none;
    color: #ffffff;
    background-color: #3aafa9;
    padding: 5px 8px;
    font-size: 13px;
  }
}
