.categorySearch {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px 15px 25px 15px;
  border: none;
}

h2.mb-0 {
  font-size: 38px;
  color: #11141b;
}

select.form-select {
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
  outline: none;
  cursor: pointer;
}

select.form-select:focus {
  box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
  outline: none;
}

.categorySearch input.form-control {
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
  height: 40px;
  border-radius: 5px;
}

button.search-button {
  height: 40px;
  padding: 0 12px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #0dd6b8;
}

@media (max-width: 1024px) {
  .categorySearch {
    padding: 12px 12px 20px 12px;
  }

  h2.mb-0 {
    font-size: 34px;
  }

  select.form-select,
  .categorySearch input.form-control,
  button.search-button {
    height: 38px;
  }
}

@media (max-width: 768px) {
  .categorySearch {
    padding: 10px;
  }

  h2.mb-0 {
    font-size: 30px;
  }

  select.form-select,
  .categorySearch input.form-control,
  button.search-button {
    height: 35px;
  }

  select.form-select,
  .categorySearch input.form-control {
    width: 100%;
    margin-bottom: 10px;
  }

  button.search-button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .categorySearch {
    padding: 8px;
  }

  h2.mb-0 {
    font-size: 24px;
  }

  select.form-select,
  .categorySearch input.form-control,
  button.search-button {
    height: 32px;
  }

  select.form-select,
  .categorySearch input.form-control {
    width: 100%;
    margin-bottom: 10px;
  }

  button.search-button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  .categorySearch {
    padding: 8px;
  }

  select.form-select {
    margin: -12px 0px 0px -2px;
  }

  button.search-button.ms-2 {
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
  }
}
