.sidebar {
  width: 320px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.5s ease, width 0.5s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  background-color: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #fbfcff;
}

.sidebar-content {
  padding: 0 11px 0 20px;
}

.sidebar.closed {
  width: 75px;
}

.sidebar.open .sidebar-content {
  width: 320px;
  transition: transform 0.5s ease, width 0.5s ease;
}

.sidebar.closed .sidebar-content .sidebar-logo {
  width: 68px;
  display: block;
  margin: 80px 0 0 -16px;
  align-self: center;
}

.sidebar.closed .menu-items h3 {
  display: none;
}

.sidebar.closed .menu-items .collapse {
  display: none;
}

.sidebar.closed .menu-items .bottom-part {
  display: none;
}

.sidebar.closed .menu-items div.flex-column.mb-4.nav {
  margin-bottom: 0;
  padding-top: 50px;
  padding-left: 5px;
}

.sidebar.closed .menu-items div.flex-column.mb-4.nav .text .nav-text {
  display: none;
}

.sidebar.closed .menu-items div.flex-column.mb-4.nav .text .nav-icon {
  font-size: 26px;
  margin-right: 0;
}

.sidebar.closed .menu-items div.flex-column.mb-4.nav .vertical-icon {
  display: none;
}

.sidebar.closed .menu-items div.flex-column.mb-4.nav .arrow {
  display: none;
}

.sidebar.open .menu-items div.flex-column.mb-4.nav .text .nav-text {
  display: inline-block;
}

.sidebar.open .menu-items div.flex-column.mb-4.nav .text .nav-icon {
  margin-right: 16px;
}

img.sidebar-logo {
  width: 100px;
  margin: 10px;
}

.burger-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #0dd6b8;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-items {
  margin-top: 30px;
}

.menu-items h3 {
  font-size: 18px;
  letter-spacing: 1;
  color: #11141b;
}

img.img-fluid {
  width: 250px;
}

.text {
  font-size: 20px;
  letter-spacing: 1;
  color: #777d74;
  transition: 0.5s;
}

.text:hover {
  color: #0dd6b8;
}

a.nav-link {
  font-size: 19px;
  padding: 8px 0 8px 0;
  margin: 12px 0 0 0;
  color: #0dd6b8;
}

div.nav-link {
  padding: 8px 0;
  margin: 12px 0 0 0;
  cursor: pointer;
}

#shop-collapse a.nav-link {
  color: #777d74;
  font-size: 18px;
  transition: 0.5s;
}

#shop-collapse a.nav-link:hover {
  color: #0dd6b8;
}

#shop-collapse a.nav-link .me-2 {
  font-size: 18px;
}

#admin-collapse a.nav-link {
  color: #777d74;
  font-size: 20px;
  transition: 0.5s;
}

#admin-collapse a.nav-link:hover {
  color: #0dd6b8;
}

#user-collapse a.nav-link {
  color: #777d74;
  font-size: 20px;
  transition: 0.5s;
}

#user-collapse a.nav-link:hover {
  color: #0dd6b8;
}

#elements-collapse a.nav-link {
  color: #777d74;
  font-size: 20px;
  transition: 0.5s;
}

#elements-collapse a.nav-link:hover {
  color: #0dd6b8;
}

.vertical-icon {
  color: #777d74;
  transition: 0.5s;
  margin-right: 5px;
}

.vertical-icon:hover {
  color: #0dd6b8;
}

.arrow {
  color: #777d74;
  transition: 0.5s;
  transition: transform 0.5s ease;
}

.arrow:hover {
  color: #0dd6b8;
  transition: transform 0.3s ease;
}

.arrow.collapsed {
  transform: rotate(90deg);
}

.arrow.expanded {
  transform: rotate(0deg);
}

.active-link {
  color: #0dd6b8;
  font-weight: bold;
}

.bottom-part button.btn {
  font-size: 15px;
  color: #ffffff;
  background-color: #0dd6b8;
  padding: 7px 50px;
  border: 1px solid #0dd6b8;
}

@media (max-width: 1024px) {
  .sidebar {
    transform: translateX(-100%);
    width: 320px;
  }

  .sidebar.open {
    transform: translateX(0);
    height: 100vh;
    width: 250px;
    top: 62px;
    z-index: 1001;
  }

  .small-screen .menu-items {
    margin-top: 60px;
  }

  .small-screen .menu-items div.nav-item .text {
    font-size: 15px;
  }

  .sidebar.open .vertical-icon {
    margin-right: 74px;
  }

  .sidebar.open .arrow {
    margin-right: 68px;
  }

  .small-screen .burger-btn {
    display: none;
  }

  .small-screen .sidebar-logo {
    display: none;
  }

  .small-screen .menu-items .collapse {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    width: 320px;
  }

  .sidebar.open {
    transform: translateX(0);
    height: 100vh;
    width: 250px;
    top: 62px;
    z-index: 1001;
  }

  .small-screen .sidebar-logo{
    display: none;
  }

  .small-screen .burger-btn {
    display: none;
  }

  .small-screen .menu-items .bottom-part{
    display: none;
  }

  .small-screen .menu-items {
    margin-top: 50px;
  }

  .small-screen .menu-items div.nav-item .text {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .sidebar {
    transform: translateX(-100%);
    width: 320px;
  }

  .sidebar.open {
    transform: translateX(0);
    height: 100vh;
    width: 260px;
    top: 62px;
    z-index: 1001;
  }

  .small-screen .sidebar-logo{
    display: none;
  }

  .small-screen .burger-btn {
    display: none;
  }

  .small-screen .menu-items .bottom-part {
    display: none;
  }

  .small-screen .sidebar-content {
    padding: 0 11px 0 20px;
  }
  .small-screen .sidebar-content .menu-items {
    margin-top: 70px;
  }
  .small-screen .sidebar-content .menu-items h3 {
    font-size: 14px;
  }
  .small-screen .sidebar-content .menu-items div.flex-column.mb-4.nav div.nav-item .vertical-icon  {
    font-size: 15px;
  }
  .small-screen .sidebar-content .menu-items div.flex-column.mb-4.nav div.nav-item .arrow  {
    font-size: 13px;
  }
  .small-screen .sidebar-content .menu-items div.flex-column.mb-4.nav div.nav-item .text{
     font-size: 15px;
  }
}

@media (max-width: 393px) {
  .sidebar {
    transform: translateX(-100%);
    width: 320px;
  }

  .sidebar.open {
    transform: translateX(0);
    height: 100vh;
    width: 260px;
    top: 62px;
    z-index: 1001;
  }

  .small-screen .sidebar-content .menu-items {
    margin-top: 95px;
  }

  .small-screen .burger-btn {
    display: none;
  }
}

@media (max-width: 320px) {
  .sidebar.open.small-screen {
    height: 109vh;
  }
}
