.sidebar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  background-color: #feffff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #feffff;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.sidebar.open {
  width: 320px;
  transition: width 0.3s ease-in-out;
}

.sidebar.open .sidebar-content {
  display: block;
}

.sidebar-content {
  transition: width 0.4s ease-in-out;
  padding: 0 11px 0 20px;
  background-color: #feffff;
}

.sidebar-logo-container {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar-logo-container:hover{
  text-decoration: none;
}

.sidebar-logo-container .logo-text {
  text-decoration: none;
}

span.logo-text {
  color: #3aafa9;
  font-size: 18px;
  margin-top: 5px;
  font-family: "Macondo", cursive;
  font-weight: 600;
  letter-spacing: 1;
  font-style: normal;
  text-decoration: none !important;
}

span.logo-text:hover {
  text-decoration: none;
}

.sidebar.closed {
  width: 75px;
  transition: width 0.6s ease-in-out;
}

.sidebar.open .sidebar-content {
  width: 320px;
  transition: width 0.4s ease-in-out;
}

.sidebar.open .sidebar-content .menu-items {
  transition: width 0.4s ease-in-out;
}

.sidebar.closed .sidebar-content .sidebar-logo {
  width: 50px;
  display: block;
  margin: 80px 0 0 -8px;
  align-self: center;
}

.sidebar.closed .sidebar-content .sidebar-logo-container .logo-text {
  display: none;
}

.sidebar.closed .menu-items h3 {
  display: none;
}

.sidebar.closed .menu-items .collapse {
  display: none;
}

.sidebar.closed .menu-items .bottom-part {
  display: none;
}

.sidebar.closed .menu-items div.flex-column.mb-4.nav {
  margin-bottom: 0;
  padding-top: 50px;
  padding-left: 5px;
}

.sidebar.closed .menu-items div.flex-column.mb-4.nav .text .nav-text {
  display: none;
}

.sidebar.closed .menu-items div.flex-column.mb-4.nav .text .nav-icon {
  font-size: 26px;
  margin-right: 0;
}

.sidebar.closed .menu-items div.flex-column.mb-4.nav .vertical-icon {
  display: none;
}

.sidebar.closed .menu-items div.flex-column.mb-4.nav .arrow {
  display: none;
}

.sidebar.open .menu-items div.flex-column.mb-4.nav .text .nav-text {
  display: inline-block;
}

.sidebar.open .menu-items div.flex-column.mb-4.nav .text .nav-icon {
  margin-right: 16px;
}

img.sidebar-logo {
  width: 50px;
  margin: 10px;
}

.burger-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #3aafa9;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-items {
  margin-top: 30px;
  background-color: #feffff;
}

.menu-items h3 {
  font-size: 18px;
  letter-spacing: 1;
  color: #11141b;
}

img.img-fluid {
  width: 250px;
  height: 200px;
  object-fit: contain;
}

.text {
  font-size: 20px;
  letter-spacing: 1;
  color: #777d74;
  transition: 0.5s;
}

.text:hover {
  color: #3aafa9;
}

a.nav-link {
  font-size: 19px;
  padding: 8px 0 8px 0;
  margin: 12px 0 0 0;
  color: #3aafa9;
  text-decoration: none;
}

a.nav-link:hover{
  text-decoration: none;
}

div.nav-link {
  padding: 8px 0;
  margin: 12px 0 0 0;
  cursor: pointer;
}

#shop-collapse a.nav-link {
  color: #777d74;
  font-size: 18px;
  transition: 0.5s;
}

#shop-collapse a.nav-link:hover {
  color: #3aafa9;
}

#shop-collapse a.nav-link .me-2 {
  font-size: 18px;
}

#admin-collapse a.nav-link {
  color: #777d74;
  font-size: 20px;
  transition: 0.5s;
}

#admin-collapse a.nav-link:hover {
  color: #3aafa9;
}

#user-collapse a.nav-link {
  color: #777d74;
  font-size: 20px;
  transition: 0.5s;
}

#user-collapse a.nav-link:hover {
  color: #3aafa9;
}

#elements-collapse a.nav-link {
  color: #777d74;
  font-size: 20px;
  transition: 0.5s;
}

#elements-collapse a.nav-link:hover {
  color: #3aafa9;
}

.vertical-icon {
  color: #777d74;
  transition: 0.5s;
  margin-right: 5px;
}

.vertical-icon:hover {
  color: #3aafa9;
}

.arrow {
  color: #777d74;
  transition: 0.5s;
  transition: transform 0.5s ease;
}

.arrow:hover {
  color: #3aafa9;
  transition: transform 0.3s ease;
}

.arrow.collapsed {
  transform: rotate(90deg);
}

.arrow.expanded {
  transform: rotate(0deg);
}

.active-link {
  color: #3aafa9;
  font-weight: bold;
}

.bottom-part img.img-fluid.mb-5 {
  background: #feffff !important;
}

.bottom-part button.btn {
  font-size: 15px;
  color: #ffffff;
  background-color: #3aafa9;
  padding: 7px 50px;
  border: 1px solid #3aafa9;
}

.bottom-part button.btn:focus {
  font-size: 15px;
  color: #ffffff;
  background-color: #3aafa9;
  padding: 7px 50px;
  border: 1px solid #3aafa9;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 9999;
}

@media (max-width: 1024px) {
  .sidebar {
    transform: translateX(-100%);
    width: 320px;
  }

  .sidebar.open.small-screen {
    transform: translateX(0);
    height: 100vh;
    width: 250px;
    top: 62px;
    z-index: 1001;
  }

  .sidebar.closed.small-screen {
    transform: translateX(-100%);
    width: 0;
    height: 100vh;
    top: 62px;
    z-index: 1001;
    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out;
  }

  .sidebar.open.small-screen .sidebar-content {
    width: 250px;
  }

  .small-screen .menu-items {
    margin-top: 60px;
  }

  .small-screen .menu-items div.nav-item .text {
    font-size: 15px;
  }

  .sidebar.open .vertical-icon {
    margin-right: 5px;
  }

  .sidebar.open .arrow {
    margin-right: 0;
  }

  .small-screen .burger-btn {
    display: none;
  }

  .small-screen .sidebar-logo {
    display: none;
  }

  .small-screen .logo-text {
    display: none;
  }

  .small-screen .menu-items .collapse {
    display: none;
  }

  .small-screen .menu-items img.img-fluid.mb-5 {
    height: 90px;
  }
  .small-screen .menu-items button.btn {
    padding: 5px 40px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    width: 320px;
  }

  .sidebar.open {
    transform: translateX(0);
    height: 100vh;
    width: 250px;
    top: 62px;
    z-index: 1001;
  }

  .small-screen .sidebar-logo {
    display: none;
  }

  .small-screen .logo-text {
    display: none;
  }

  .small-screen .burger-btn {
    display: none;
  }

  .small-screen .menu-items .bottom-part {
    display: none;
  }

  .small-screen .menu-items {
    margin-top: 50px;
  }

  .small-screen .menu-items div.nav-item .text {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .sidebar {
    transform: translateX(-100%);
    width: 320px;
  }

  .sidebar.open {
    transform: translateX(0);
    height: 100vh;
    width: 260px;
    z-index: 1001;
  }

  .small-screen .sidebar-logo-container {
    margin-top: 15px;
  }

  .small-screen .sidebar-logo {
    width: 30px;
    display: block;
  }

  .small-screen .logo-text {
    font-size: 14px;
    display: block;
  }

  .small-screen .burger-btn {
    display: none;
  }

  .small-screen .menu-items .bottom-part {
    display: block;
  }

  .small-screen .menu-items .bottom-part img.img-fluid {
    display: none;
  }

  .small-screen .menu-items .bottom-part button.btn {
    font-size: 12px;
    margin-right: 72px;
    margin-top: 30px;
  }

  .small-screen .sidebar-content {
    padding: 0 11px 0 20px;
  }

  .small-screen .sidebar-content .menu-items {
    margin-top: 15px;
  }

  .small-screen .sidebar-content .menu-items h3 {
    font-size: 14px;
  }

  .small-screen
    .sidebar-content
    .menu-items
    div.flex-column.mb-4.nav
    div.nav-item
    .vertical-icon {
    font-size: 15px;
  }
  .small-screen
    .sidebar-content
    .menu-items
    div.flex-column.mb-4.nav
    div.nav-item
    .arrow {
    font-size: 13px;
  }
  .small-screen
    .sidebar-content
    .menu-items
    div.flex-column.mb-4.nav
    div.nav-item
    .text {
    font-size: 15px;
  }
}

@media (max-width: 393px) {
  .sidebar {
    transform: translateX(-100%);
    width: 320px;
  }

  .sidebar.open.small-screen .sidebar-content {
    width: 235px;
  }

  .sidebar.open.small-screen {
    transform: translateX(0);
    height: 100vh;
    width: 235px;
    top: 62px;
    z-index: 1001;
  }

  .sidebar.closed.small-screen {
    transform: translateX(-100%);
    width: 0;
    height: 100vh;
    top: 62px;
    z-index: 1001;
    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out;
  }

  .sidebar.closed.small-screen .sidebar-content {
    opacity: 0;
  }

  .sidebar.open .vertical-icon {
    margin-right: 5px;
  }

  .sidebar.open .arrow {
    margin-right: 0;
  }

  .small-screen .sidebar-logo-container {
    margin-top: 28px;
  }

  .small-screen .sidebar-logo {
    width: 30px;
    display: block;
  }

  .small-screen .logo-text {
    font-size: 14px;
    display: block;
  }

  .small-screen .sidebar-content .menu-items {
    margin-top: 80px;
  }

  .small-screen .burger-btn {
    display: none;
  }

  .small-screen .menu-items .bottom-part {
    display: block;
  }

  .small-screen .menu-items .bottom-part img.img-fluid {
    display: none;
  }

  .small-screen .menu-items .bottom-part button.btn {
    font-size: 12px;
    margin-right: 8px;
    margin-top: 0;
    padding: 5px 38px;
  }
}

@media (max-width: 375px) {
  .small-screen .sidebar-logo-container {
    margin-top: 28px;
  }

  .small-screen .sidebar-logo {
    width: 30px;
    display: block;
  }

  .small-screen .logo-text {
    font-size: 14px;
    display: block;
  }
  .small-screen .sidebar-content .menu-items {
    margin-top: 66px;
  }

  .small-screen .burger-btn {
    display: none;
  }

  .small-screen .menu-items .bottom-part {
    display: block;
  }

  .small-screen .menu-items .bottom-part img.img-fluid {
    display: none;
  }

  .small-screen .menu-items .bottom-part button.btn {
    font-size: 12px;
    margin-right: 8px;
    margin-top: 0;
    padding: 5px 40px;
  }
}

@media (max-width: 320px) {
  .small-screen .sidebar-logo-container {
    margin-top: 20px;
  }
  .sidebar.open.small-screen {
    height: 109vh;
  }
  .small-screen .logo-text {
    font-size: 12px;
    display: block;
  }
  .small-screen .sidebar-content .menu-items h3 {
    font-size: 10px;
  }
  .small-screen .burger-btn {
    display: none;
  }

  .small-screen .menu-items .bottom-part {
    display: none;
  }
  .small-screen .sidebar-content .menu-items {
    margin-top: -7px;
  }
}
