div.modal-header {
  background-color: #0dd6b8;
  color: #ffffff;
}

button.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.cart-item {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

div.modal-body {
  max-height: 400px;
  overflow-y: auto;
}

.cart-image {
  width: 50px;
  height: 66px;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 5px;
}

.cart-item-text h6 {
  font-weight: bolder;
  color: #11141b;
}

.cart-item-text p {
  color: #777d74;
  font-weight: 600;
}

.remove {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ff9b8a;
}

.btn-view {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0dd6b8;
  border: 1px solid #0dd6b8;
  border-radius: 5px;
  padding: 6px 16px;
  transition: 0.3s;
}

.btn-view:hover {
  color: #ffffff;
  background-color: #0aab93;
  border: 1px solid #0aab93;
}

.btn-shop {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0dd6b8;
  border: 1px solid #0dd6b8;
  border-radius: 5px;
  padding: 6px 16px;
  transition: 0.3s;
}

.btn-shop:hover {
  color: #ffffff;
  background-color: #0aab93;
  border: 1px solid #0aab93;
}

@media (max-width: 1024px) {
  div.modal-title.h4 {
    font-size: 21px;
  }
  .cart-item {
    padding: 8px;
  }

  .cart-image {
    width: 45px;
    height: 60px;
    margin-right: 8px;
  }

  .remove {
    font-size: 28px;
  }

  .btn-view,
  .btn-shop {
    font-size: 14px;
    padding: 5px 14px;
  }
}

@media (max-width: 768px) {
  div.modal-body {
    max-height: 350px;
    overflow-y: auto;
  }

  .cart-item {
    padding: 7px;
  }

  .cart-image {
    width: 40px;
    height: 55px;
    margin-right: 7px;
  }

  .remove {
    font-size: 26px;
  }

  .btn-view,
  .btn-shop {
    font-size: 13px;
    padding: 5px 12px;
  }

  .cart-item-text h6 {
    font-size: 14px;
  }

  .cart-item-text p {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  div.modal-title.h4 {
    font-size: 18px;
  }

  div.modal-body {
    max-height: 412px;
    overflow-y: auto;
  }

  .cart-image {
    width: 50px;
    height: 66px;
    margin-right: 3px;
    margin-bottom: 5px;
  }

  .cart-item-text h6 {
    font-size: 13px;
  }

  .cart-item-text p {
    font-size: 11px;
    font-weight: bolder;
  }

  .remove {
    font-size: 24px;
  }

  .btn-view,
  .btn-shop {
    font-size: 12px;
    padding: 4px 10px;
  }
}
