.cartSection {
  padding: 20px 0;
}

h2 {
  color: #11141b;
  font-weight: 600;
  margin-bottom: 30px;
}

p.text-center {
  color: #ff9b8a;
  font-weight: bolder;
}

.cart-row {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  margin-bottom: 15px;
}

.product-image img {
  max-width: 100px;
  height: auto;
}

.cart-name {
  color: #11141b;
  font-size: 1.1rem;
  font-weight: 500;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 100%; 
}

.cart-price, .total-price {
  display: flex;  
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  color: #3aafa9;
}

.product-quantity {
  margin-bottom: 13px;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.product-quantity .btn {
  margin: 0 5px;
  padding: 5px 10px;
}

.product-quantity .btn.btn-outline-first {
  background-color: #3aafa9;
  color: #11141b;
  border: none;
}

.product-quantity .btn.btn-outline-secondary {
  background-color: #3aafa9;
  color: #11141b;
  border: none;
}

.product-quantity .btn.btn-light:hover{
  background-color: #3aafa9;
  border-color: #3aafa9;
}

.product-remove .btn-remove {
  color: #ff9b8a;
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  margin-bottom: 16px;
}

.product-remove .btn-remove:hover {
  color: #e98c7c;
}

.cartSection-bottom-section {
  margin-top: 20px;
}

.cartSection-bottom-row {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.cartSection-bottom-section .cartSection-product-count,
.cartSection-bottom-section .cartSection-total-price,
.cartSection-bottom-section .cartSection-button{
  margin-bottom: 10px;
}

.cartSection-product-count p{
  font-size: 18px;
  font-weight: bolder;
  color: #11141b;
  margin-top: 10px;
}

.cartSection-total-price h4{
  font-size: 21px;
  font-weight: bolder;
  color: #3aafa9;
}

.cartSection-button button.btn{
  color: #fff;
  background-color: #3aafa9;
  border-color: #3aafa9;
}

.cartSection-button button.btn:hover {
  color: #fff;
  background-color: #3aafa9;
  border-color: #3aafa9;
}

.cartSection-button button.btn:active,
.cartSection-button button.btn:focus,
.cartSection-button button.btn:focus-visible {
  background-color: #3aafa9;
  border-color: #3aafa9;
  box-shadow: none;
}

.cartSection-button button.btn:focus {
  outline: none;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 9999; 
}


@media (max-width: 1024px) {
  .product-image img {
    max-width: 80px;
  }

  .cart-name {
    font-size: 1rem;
  }

  .cart-price, .total-price {
    font-size: 1.1rem;
  }

  .product-quantity .btn {
    padding: 4px 8px;
    font-size: 0.9rem;
  }

  .total-price-section {
    font-size: 1.4rem;
  }
}


@media (max-width: 768px) {
  .cart-row {
    padding: 10px 0;
  }

  .product-image img {
    max-width: 70px;
  }

  .cart-name {
    font-size: 0.9rem;
  }

  .cart-price, .total-price {
    font-size: 1rem;
  }

  .product-quantity .btn {
    padding: 4px 6px;
    font-size: 0.8rem;
  }
  
  .cartSection-product-count p{
    font-size: 15px;
    font-weight: bolder;
    color: #11141b;
    margin-top: 10px;
  }
  
  .cartSection-total-price h4{
    font-size: 17px;
    font-weight: bolder;
    color: #3aafa9;
  }
  
  .cartSection-button button.btn{
    color: #fff;
    background-color: #3aafa9;
  }
}


@media (max-width: 425px) {
  .cart-row {
    padding: 8px 0;
  }

  h2.text-center.mb-4 {
    font-size: 20px;
  }

  p.text-center {
    font-size: 13px;
  }

  .product-image img {
    max-width: 50px;
  }

  .cart-name {
    font-size: 0.7rem;
    margin-left: 5px;
  }

  .cart-price, .total-price {
    font-size: 0.7rem;
  }

  .cart-price {
    margin-right: 10px;
  }

  .total-price {
    margin-left: 36px;
  }

  .product-quantity {
    margin-bottom: 16px;
  }

  .product-quantity .btn-outline-first {
    margin-left: 18px;
  }

  .product-quantity .btn {
    padding: 1px 4px;
    font-size: 0.65rem;
  }

  .product-remove .btn-remove {
    font-size: 1.3rem;
    margin-bottom: 19px;
  }

  .cartSection-product-count p{
    font-size: 13px;
    font-weight: bolder;
    color: #11141b;
    margin-top: 10px;
  }
  
  .cartSection-total-price h4{
    font-size: 15px;
    font-weight: bolder;
    color: #3aafa9;
  }
  
  .cartSection-button button.btn{
    font-size: 12px;
    color: #fff;
    background-color: #3aafa9;
  }
}

@media (max-width: 320px) {
  .cart-row {
    padding: 8px 0;
  }

  .product-image img {
    max-width: 45px;
  }

  .cart-name {
    font-size: 0.6rem;
    margin-left: 5px;
  }

  .cart-price, .total-price {
    font-size: 0.6rem;
  }

  .cart-price {
    margin-right: 13px;
  }

  .total-price {
    margin-left: 30px;
  }

  .product-quantity {
    margin-bottom: 16px;
  }

  .product-quantity .btn-outline-first {
    margin-left: 18px;
  }

  .product-quantity .btn {
    padding: 1px 4px;
    font-size: 0.55rem;
  }

  .total-price-section h4{
    font-size: 0.6rem;
    font-weight: bold; 
  }
  .product-remove .btn-remove {
    font-size: 1.1rem;
    margin-bottom: 19px;
  }
}
