.app {
  display: flex;
  overflow-x: hidden;
}

.main-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 320px;
  transition: margin-left 0.3s ease;
}

.app.sidebar-open {
  transition: width 0.3s ease-in-out;
}

.sidebar-open .main-section {
  margin-left: 320px;
}

.sidebar-closed .main-section {
  margin-left: 75px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f2f2f2;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .app.small-screen .main-section {
    margin-left: 0;
    height: 100vh;
  }

  .app.small-screen .content,
  .app.small-screen .header,
  .app.small-screen .footer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .app.small-screen .main-section {
    margin-left: 0;
    height: 102vh;
  }

  .app.small-screen .content,
  .app.small-screen .header,
  .app.small-screen .footer {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .app.small-screen .main-section {
    margin-left: 0;
    height: 100vh;
    width: 74%;
  }

  .app.small-screen .content,
  .app.small-screen .header,
  .app.small-screen .footer {
    width: 100%;
  }
}

@media (max-width: 393px) {
  .app.small-screen .main-section {
    margin-left: 0;
    height: 662px;
  }
}

@media (max-width: 375px) {
  .app.small-screen .main-section {
    margin-left: 0;
    height: 100vh;
  }

  .app.small-screen .content,
  .app.small-screen .header,
  .app.small-screen .footer {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .app.small-screen .main-section {
    margin-left: 0;
    height: 101vh;
  }
}
