.app {
  display: flex;
}

.main-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 320px;
  transition: margin-left 0.3s ease;
}

.sidebar-open .main-section {
  margin-left: 320px;
}

.sidebar-closed .main-section {
  margin-left: 50px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}

/* @media (min-width: 1024px) {
.sidebar-closed .header {
  height: 75px;
  position: fixed;
  top: 0;
  right: 0;
  left: 50px;
  background-color: #fbfcff;
  border-bottom: 1px solid #ededf0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 1002;
}
} */

@media (max-width: 1024px) {
  .main-section {
    margin-left: 0;
  }

  .app.small-screen .main-section {
    margin-left: 0;
  }

  .app.small-screen .content,
  .app.small-screen .header,
  .app.small-screen .footer {
    width: 100%;
  }
}

/* @media (max-width: 425px) {
  .main-section {
    height: 135vh;
  }

}

@media (max-width: 393px) {
  .main-section {
    height: 146vh;
  }

}

@media (max-width: 375px) {
  .main-section {
    height: 153vh;
  }

}

@media (max-width: 320px) {
  .main-section {
    height: 179vh;
  }

} */









